@using DTShopping.Properties
@{
    ViewBag.Title = "About";
    string Theme = System.Configuration.ConfigurationManager.AppSettings["Theme"] == null ? string.Empty : System.Configuration.ConfigurationManager.AppSettings["Theme"].ToString();
    if (Theme == Resources.Orange)
    {
        Layout = "~/Views/Shared/_LayoutOrange.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<div class="container">
    <div class="sixteen columns">
        <div id="bodyContent" class="sixteen columns omega main_part_wrapper">
            <!-- subcategory view -->
            <h1 style="padding-left:45%;padding-top:20%;">Coming soon</h1>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".preloader").hide();
    });
</script>
