@using DTShopping.Properties
@model  DTShopping.Models.Dashboard
@{
    ViewBag.Title = "About";
    string Theme = System.Configuration.ConfigurationManager.AppSettings["Theme"] == null ? string.Empty : System.Configuration.ConfigurationManager.AppSettings["Theme"].ToString();
    if (Theme == Resources.Orange)
    {
        Layout = "~/Views/Shared/_LayoutOrange.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<div class="container">
    <div class="sixteen columns">
        <div id="bodyContent" class="sixteen columns omega main_part_wrapper">
            <!-- subcategory view -->


        </div>
        @if (Model == null || Model.CompanyProfileDetail == null || string.IsNullOrEmpty(Model.CompanyProfileDetail.AboutUsText))
        {

            <h1 style="padding-left:45%;padding-top:20%;">Coming soon</h1>
        }
        else
        {
            <div class="product_description">
                @Html.Raw(Model.CompanyProfileDetail.AboutUsText)
            </div>
        }
    </div>
</div>
</div>

<script>
    $(document).ready(function () {
        $(".preloader").hide();
    });
</script>
