<configuration>
  <!--app setting for sunvis company-->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="CompanyId" value="29" />
    <add key="CompanyName" value="Sunvis Tradenet Pvt Ltd" />
    <add key="CompanyWebsite" value="http://gv.mysunvis.com" />
    <add key="RoleId" value="2" />
    <add key="CopyrightText" value="2020 Mysunvis.com" />
    <add key="ApiUrl" value="http://bshopapi.bisplindia.in/api/Home/" />
    <!--<add key="ApiUrl" value="http://localhost:64903/api/Home/" />-->
    <add key="ImageUrl" value="http://shopimage.bisplindia.in/ShopImageFolder" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>

  <!--app setting for shop.bisplindia.in company-->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="CompanyId" value="28" />
    <add key="CompanyName" value="Discount Tadkaa India Limited" />
    <add key="CompanyWebsite" value="http://shop.bisplindia.in" />
    <add key="RoleId" value="2" />
    <add key="CopyrightText" value="2013 discounttadka. All Rights Reserved." />
    <add key="ApiUrl" value="http://bshopapi.bisplindia.in/api/Home/" />
    <!--<add key="ApiUrl" value="http://localhost:64903/api/Home/" />-->
    <add key="ImageUrl" value="http://shopimage.bisplindia.in/ShopImageFolder" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  
  <!--app setting for shopping.bisplindia.in company-->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="CompanyId" value="17" />
    <add key="CompanyName" value="Shopglobbo" />
    <add key="CompanyWebsite" value="http://shopping.bisplindia.in/" />
    <add key="RoleId" value="2" />
    <add key="CopyrightText" value="2013 discounttadka. All Rights Reserved." />
    <add key="ApiUrl" value="http://bshopapi.bisplindia.in/api/Home/" />
    <!--<add key="ApiUrl" value="http://localhost:64903/api/Home/" />-->
    <add key="ImageUrl" value="http://shopimage.bisplindia.in/ShopImageFolder" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>

  <!--app setting for www.gohappycart.com company-->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="CompanyId" value="30" />
    <add key="CompanyName" value="Go Happy Cart Private Limited" />
    <add key="CompanyWebsite" value="http://gohappycart.com" />
    <add key="RoleId" value="2" />
    <add key="CopyrightText" value="2020 HappyCart.com" />
    <add key="ApiUrl" value="http://bshopapi.bisplindia.in/api/Home/" />
    <!--<add key="ApiUrl" value="http://localhost:64903/api/Home/" />-->
    <add key="ImageUrl" value="http://shopimage.bisplindia.in/ShopImageFolder" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  
   <!--app setting for www.gv.urshop.com company-->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="CompanyId" value="33" />
    <add key="CompanyName" value="Go Urshop Limited" />
    <add key="CompanyWebsite" value="www.gv.urshop.com" />
    <add key="RoleId" value="2" />
    <add key="CopyrightText" value="2020 urshop.com" />
    <add key="ApiUrl" value="http://bshopapi.bisplindia.in/api/Home/" />
    <!--<add key="ApiUrl" value="http://localhost:64903/api/Home/" />-->
    <add key="ImageUrl" value="http://shopimage.bisplindia.in/ShopImageFolder" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
</configuration>