<configuration>
  <!--app setting for sunvis company-29-->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="CompanyId" value="29" />
    <add key="CompanyName" value="Sunvis Tradenet Pvt Ltd" />
    <add key="CompanyWebsite" value="http://gv.mysunvis.com" />
    <add key="RoleId" value="2" />
    <add key="CopyrightText" value="2020 Mysunvis.com" />
    <add key="ApiUrl" value="http://bshopapi.bisplindia.in/api/Home/" />
    <!--<add key="ApiUrl" value="http://localhost:64903/api/Home/" />-->
    <add key="ImageUrl" value="https://shopimage.bisplindia.in/ShopImageFolder" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>

  <!--app setting for shop.bisplindia.in-28 company-->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="CompanyId" value="28" />
    <add key="CompanyName" value="Discount Tadkaa India Limited" />
    <add key="CompanyWebsite" value="http://shop.bisplindia.in" />
    <add key="RoleId" value="2" />
    <add key="CopyrightText" value="2013 discounttadka. All Rights Reserved." />
    <add key="ApiUrl" value="http://bshopapi.bisplindia.in/api/Home/" />
    <!--<add key="ApiUrl" value="http://localhost:64903/api/Home/" />-->
    <add key="ImageUrl" value="https://shopimage.bisplindia.in/ShopImageFolder" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  
  <!--app setting for shopping.bisplindia.in-17 company-->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="CompanyId" value="17" />
    <add key="CompanyName" value="Shopglobbo" />
    <add key="CompanyWebsite" value="http://shopping.bisplindia.in/" />
    <add key="RoleId" value="2" />
    <add key="Theme" value="Orange" />
    <add key="CopyrightText" value="2013 discounttadka. All Rights Reserved." />
    <add key="ApiUrl" value="http://bshopapi.bisplindia.in/api/Home/" />
    <!--<add key="ApiUrl" value="http://localhost:64903/api/Home/" />-->
    <add key="ImageUrl" value="https://shopimage.bisplindia.in/ShopImageFolder" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>

  <!--app setting for www.gohappycart.com 30 company-->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="CompanyId" value="30" />
    <add key="CompanyName" value="Go Happy Cart Private Limited" />
    <add key="CompanyWebsite" value="http://gohappycart.com" />
    <add key="RoleId" value="2" />
    <add key="CopyrightText" value="2020 HappyCart.com" />
    <add key="ApiUrl" value="http://bshopapi.bisplindia.in/api/Home/" />
    <!--<add key="ApiUrl" value="http://localhost:64903/api/Home/" />-->
    <add key="ImageUrl" value="https://shopimage.bisplindia.in/ShopImageFolder" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  
   <!--app setting for www.gv.urshop.com 33company-->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="CompanyId" value="33" />
    <add key="CompanyName" value="Go Urshop Limited" />
    <add key="CompanyWebsite" value="www.gv.urshop.com" />
    <add key="RoleId" value="2" />
    <add key="CopyrightText" value="2020 urshop.com" />
    <add key="ApiUrl" value="http://bshopapi.bisplindia.in/api/Home/" />
    <!--<add key="ApiUrl" value="http://localhost:64903/api/Home/" />-->
    <add key="ImageUrl" value="https://shopimage.bisplindia.in/ShopImageFolder" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>

  <!--app setting for http://osmarket.in 34company-->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="CompanyId" value="34" />
    <add key="CompanyName" value="OS Market PVT Limited" />
    <add key="CompanyWebsite" value="http://osmarket.in/" />
    <add key="RoleId" value="2" />
    <add key="CopyrightText" value="2020 osmarket.in" />
    <add key="ApiUrl" value="http://bshopapi.bisplindia.in/api/Home/" />
    <!--<add key="ApiUrl" value="http://localhost:64903/api/Home/" />-->
    <add key="ImageUrl" value="https://shopimage.bisplindia.in/ShopImageFolder" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>

  <!--app setting for gv.familyfunclub.in 35company-->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="CompanyId" value="35" />
    <add key="CompanyName" value="Family Funclub Pvt. Ltd" />
    <add key="CompanyWebsite" value="http://osmarket.in/" />
    <add key="RoleId" value="2" />
    <add key="CopyrightText" value="2020 familyfunclub.in" />
    <add key="ApiUrl" value="http://bshopapi.bisplindia.in/api/Home/" />
    <!--<add key="ApiUrl" value="http://localhost:64903/api/Home/" />-->
    <add key="ImageUrl" value="https://shopimage.bisplindia.in/ShopImageFolder" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>

  <!--app setting for http://shopping.right2pay.com/ 36company-->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="CompanyId" value="36" />
    <add key="CompanyName" value="Right 2 Pay" />
    <add key="CompanyWebsite" value="http://shopping.right2pay.com/" />
    <add key="RoleId" value="2" />
    <add key="CopyrightText" value="2020 shopping.right2pay" />
    <add key="ApiUrl" value="http://bshopapi.bisplindia.in/api/Home/" />
    <!--<add key="ApiUrl" value="http://localhost:64903/api/Home/" />-->
    <add key="ImageUrl" value="https://shopimage.bisplindia.in/ShopImageFolder" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>

  <!--app setting for bshop1.bisplindia.in-28 company - Orange Theme-->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="CompanyId" value="28" />
    <add key="CompanyName" value="Discount Tadkaa India Limited" />
    <add key="CompanyWebsite" value="http://shop.bisplindia.in" />
    <add key="RoleId" value="2" />
    <add key="Theme" value="Orange" />
    <add key="CopyrightText" value="2013 discounttadka. All Rights Reserved." />
    <add key="ApiUrl" value="http://bshopapi.bisplindia.in/api/Home/" />
    <!--<add key="ApiUrl" value="http://localhost:64903/api/Home/" />-->
    <add key="ImageUrl" value="https://shopimage.bisplindia.in/ShopImageFolder" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>

  <!--app setting for shop.entertainmentclub.biz 37company-->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="CompanyId" value="37" />
    <add key="CompanyName" value="Entertainment Club" />
    <add key="CompanyWebsite" value="http://shop.entertainmentclub.biz/" />
    <add key="RoleId" value="2" />
    <add key="CopyrightText" value="2020 shopping.entertainmentClub" />
    <add key="ApiUrl" value="http://bshopapi.bisplindia.in/api/Home/" />
    <!--<add key="ApiUrl" value="http://localhost:64903/api/Home/" />-->
    <add key="ImageUrl" value="https://shopimage.bisplindia.in/ShopImageFolder" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>

  <!--app setting for gv.entertainmentclub.biz 38 company-->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" v1alue="true" />
    <add key="CompanyId" value="38" />
    <add key="CompanyName" value="Entertainment Club" />
    <add key="CompanyWebsite" value="http://gv.entertainmentclub.biz/" />
    <add key="RoleId" value="2" />
    <add key="CopyrightText" value="2020 shopping.entertainmentClub" />
    <add key="ApiUrl" value="http://bshopapi.bisplindia.in/api/Home/" />
    <!--<add key="ApiUrl" value="http://localhost:64903/api/Home/" />-->
    <add key="ImageUrl" value="https://shopimage.bisplindia.in/ShopImageFolder" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>

  <!--app setting for http://shop.wellvalueindia.com/ 39 company-->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="CompanyId" value="39" />
    <add key="CompanyName" value="Shop Well Value" />
    <add key="CompanyWebsite" value="http://shop.wellvalueindia.com/" />
    <add key="RoleId" value="2" />
    <add key="CopyrightText" value="2020 ShopWellValue" />
    <add key="ApiUrl" value="http://bshopapi.bisplindia.in/api/Home/" />
    <!--<add key="ApiUrl" value="http://localhost:64903/api/Home/" />-->
    <add key="ImageUrl" value="https://shopimage.bisplindia.in/ShopImageFolder" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>

  <!--app setting for http://shop.sjlabs.in/ 40 company-->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="CompanyId" value="40" />
    <add key="CompanyName" value="SjLabs" />
    <add key="CompanyWebsite" value="http://shop.sjlabs.in/" />
    <add key="RoleId" value="2" />
    <add key="CopyrightText" value="2020 Sjlabs" />
    <add key="ApiUrl" value="http://bshopapi.bisplindia.in/api/Home/" />
    <!--<add key="ApiUrl" value="http://localhost:64903/api/Home/" />-->
    <add key="ImageUrl" value="https://shopimage.bisplindia.in/ShopImageFolder" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
</configuration>